language: python
python:
  - 3.7
before_install:
  - python --version
  - pip install -U pip
  - pip install codecov
install:
  - pip install -r requirements.txt # install package + test dependencies
script: python -m unittest # run tests